# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [294]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os, csv


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete["school_name"].unique()

#school_data_complete.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [295]:
#number of schools
dif_schools = school_data_complete["school_name"].value_counts()
dif_schools.head(20)
amt_of_schools = dif_schools.count()

dif_schools

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [296]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [297]:
#total number of students
amt_of_students = school_data_complete["student_name"].count()
amt_of_students

39170

In [298]:
#calc total budget
budget_values = school_data_complete["budget"].unique()

In [299]:
#calc total budget
total_budget = budget_values.sum()
total_budget

24649428

In [300]:
#average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [301]:
#average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [302]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_avg_score = (avg_math_score + avg_reading_score)/2
overall_avg_score

80.43160582078121

In [303]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_count = 0
# math_scores = school_data_complete["math_score"]

for i in school_data_complete["math_score"]:
    if i >= 70:
        passing_math_count += 1
#print(passing_count)

passing_math_scores = passing_math_count/amt_of_students
passing_math_scores

0.749808526933878

In [304]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = 0

for i in school_data_complete["reading_score"]:
    if i >= 70:
        passing_reading_count += 1

passing_reading_scores = passing_reading_count/amt_of_students
passing_reading_scores

0.8580546336482001

In [305]:
#Create a dataframe to hold the above results
District_Results_df = pd.DataFrame(data = [amt_of_schools, 
                                           amt_of_students, 
                                           total_budget, 
                                           avg_math_score,
                                           avg_reading_score,
                                           overall_avg_score, 
                                           passing_math_scores,
                                           passing_reading_scores], 
                                   index = ["Amount of Schools", 
                                            "Amount of Students",
                                            "Total Budget", 
                                            "Avg Math Score",
                                            "Avg Reading Score",
                                            "Overall Avg Score", 
                                            "% of Passing Math Scores", 
                                            "% of Passing Reading Scores"],
                                   columns=None,
                                   dtype=int)
District_Results_df

                                    0
Amount of Schools                  15
Amount of Students              39170
Total Budget                 24649428
Avg Math Score                     78
Avg Reading Score                  81
Overall Avg Score                  80
% of Passing Math Scores            0
% of Passing Reading Scores         0

In [306]:
#Optional: give the displayed data cleaner formatting
Results_df.columns = ['Results']
Results_df

                              Results
Amount of Schools                  15
Amount of Students              39170
Total Budget                 24649428
Avg Math Score                     78
Avg Reading Score                  81
Overall Avg Score                  80
% of Passing Math Scores            0
% of Passing Reading Scores         0

## School Summary

In [307]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [308]:
#school_type = school_data_complete.groupby(["school_name"])["type"]
#school_type.unique()

In [309]:
student_count_per_school = school_data_complete["school_name"].value_counts()
student_count_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [310]:
#school_budgets = school_data_complete.goupby(["schoolname"]).mean()["budget"]
#school_budgets

school_name_group = school_data_complete.groupby(["school_name"])["budget"].mean()
school_budgets

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [311]:
student_budget = school_budgets/student_count_per_school
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [312]:
school_avg_math_scores = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
school_avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [313]:
school_avg_reading_scores = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
school_avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [314]:
students_passing_math = school_data_complete[(school_data_complete["math_score"]>70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]
perc_passing_math_schools = round((students_passing_math_per_school/student_count_per_school)*100,2)
perc_passing_math_schools

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [315]:
#find the students passing reading schoolwise

students_passing_reading_per_school = school_data_complete.groupby(["school_name"]).count()["student_name"]

#percentage of students passing reading per school
perc_passing_reading_per_school = round((passing_reading_count/amt_of_students),2)
perc_passing_reading_per_school

0.86

In [316]:
overall_passing_rate_school = (perc_passing_math_schools + perc_passing_reading_per_school)/2
overall_passing_rate_school

Bailey High School       32.745
Cabrera High School      45.210
Figueroa High School     32.305
Ford High School         33.305
Griffin High School      45.285
Hernandez High School    32.805
Holden High School       45.745
Huang High School        32.090
Johnson High School      32.355
Pena High School         46.270
Rodriguez High School    32.465
Shelton High School      45.375
Thomas High School       45.535
Wilson High School       45.895
Wright High School       45.570
dtype: float64

In [317]:
school_results_df = pd.DataFrame({
                                  "Total Students":student_count_per_school,
                                  "Total School Budget":school_budgets,
                                  "Budget per student":student_budget, 
                                  "Average Math Score Schoolwise":school_avg_math_scores,
                                  "Average Reading Score Schoolwise":school_avg_reading_scores, 
                                  "% Passing Math Schoolwise":perc_passing_math_schools,
                                  "% Passing Reading Schoolwise":perc_passing_reading_per_school,
                                  "Overall Passing Rate":overall_passing_rate_school,
                                  
                                 
                                 })
                               

school_results_df["Overall Passing Rate"].sort_values(ascending=False).head(5)

Pena High School      46.270
Wilson High School    45.895
Holden High School    45.745
Wright High School    45.570
Thomas High School    45.535
Name: Overall Passing Rate, dtype: float64

In [345]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [351]:
#school_results_df["School Type"] = school_type
school_data_type = school_data_complete.groupby(["type"])["school_name"]
school_data_type.head()

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
5866    Shelton High School
5867    Shelton High School
5868    Shelton High School
5869    Shelton High School
5870    Shelton High School
Name: school_name, dtype: object

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [319]:
school_results_df["Overall Passing Rate"].sort_values(ascending=True).head(5)

Huang High School        32.090
Figueroa High School     32.305
Johnson High School      32.355
Rodriguez High School    32.465
Bailey High School       32.745
Name: Overall Passing Rate, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [320]:
avg_math_scores_by_grade = round(school_data_complete.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_by_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [321]:
avg_reading_score_grade = round(school_data_complete.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [353]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [354]:
school_results_df["Spending Ranges (Per Student)"] = pd.cut(student_budget,spending_bins,labels = group_names)
school_results_df.head()

,Total Students,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing Rate,School Type,Spending Ranges (Per Student),Size of the school,Type
Bailey High School,4976,3124928,628.0,77.05,81.03,64.63,0.86,32.745,"(Bailey High School, [District, District, Dist...",$615-645,Large (2000-5000),"(0, [District, District, District, District, D..."
Cabrera High School,1858,1081356,582.0,83.06,83.98,89.56,0.86,45.210,"(Cabrera High School, [Charter, Charter, Chart...",<$585,Medium (1000-2000),"(1, [District, District, District, District, D..."
Figueroa High School,2949,1884411,639.0,76.71,81.16,63.75,0.86,32.305,"(Figueroa High School, [District, District, Di...",$615-645,Large (2000-5000),"(2, [Charter, Charter, Charter, Charter, Chart..."
Ford High School,2739,1763916,644.0,77.10,80.75,65.75,0.86,33.305,"(Ford High School, [District, District, Distri...",$615-645,Large (2000-5000),"(3, [District, District, District, District, D..."
Griffin High School,1468,917500,625.0,83.35,83.82,89.71,0.86,45.285,"(Griffin High School, [Charter, Charter, Chart...",$615-645,Medium (1000-2000),"(4, [Charter, Charter, Charter, Charter, Chart..."

In [324]:
avg_math_score_by_spending = round(school_results_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score Schoolwise"],2)
avg_reading_score_by_spending = round(school_results_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score Schoolwise"],2)
students_passing_math_by_spending = round(school_results_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math Schoolwise"],2)
students_passing_reading_by_spending = round(school_results_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading Schoolwise"],2)
overall_pass_rate_by_spending = (students_passing_math_spending + students_passing_reading_spending)/2

scores_by_school_spending =  pd.DataFrame({"Average Math Score (Spending)":avg_math_score_by_spending,
                                     "Average Reading Score (Spending)":avg_reading_score_by_spending,
                                     "% Passing Math (Spending)":students_passing_math_by_spending,
                                     "%Passing Reading (Spending)":students_passing_reading_by_spending ,
                                     "Overall Passing rate (Spending)":overall_pass_rate_by_spending})

scores_by_school_spending

,Average Math Score (Spending),Average Reading Score (Spending),% Passing Math (Spending),%Passing Reading (Spending),Overall Passing rate (Spending)
Spending Ranges (Per Student),,,,,
<$585,83.45,83.94,90.35,0.86,45.605
$585-615,83.60,83.88,90.78,0.86,45.820
$615-645,79.08,81.89,73.02,0.86,36.940
$645-675,77.00,81.03,63.97,0.86,32.415

## Scores by School Size

* Perform the same operations as above, based on school size.

In [325]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [349]:
school_results_df["Size of the school"] = pd.cut(school_results_df["Total Students"],size_bins,labels = group_names)

In [327]:
avg_math_score_size = school_results_df.groupby(["Size of the school"]).mean()["Average Math Score Schoolwise"]
avg_reading_score_size = school_results_df.groupby(["Size of the school"]).mean()["Average Reading Score Schoolwise"]
percentage_passing_math_size = school_results_df.groupby(["Size of the school"]).mean()["% Passing Math Schoolwise"]
percentage_passing_reading_size = school_results_df.groupby(["Size of the school"]).mean()["% Passing Reading Schoolwise"]
overall_passing_rate_school = school_results_df.groupby(["Size of the school"]).mean()["Overall Passing Rate"]

In [328]:
scores_by_school_size = pd.DataFrame({"Average Math Score":avg_math_score_size,
                                  "Average Reading Score":avg_reading_score_size,
                                  "% Passing Math":percentage_passing_math_size,
                                  "% Passing Reading":percentage_passing_reading_size,
                                  "Overall Passing rate":overall_passing_rate_school})
scores_by_school_size = scores_by_school_size[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading","Overall Passing rate"]]
scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Size of the school,,,,,
Small (<1000),83.820,83.92500,91.15500,0.86,46.007500
Medium (1000-2000),83.374,83.86800,89.93000,0.86,45.395000
Large (2000-5000),77.745,81.34375,67.63125,0.86,34.245625

In [329]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [358]:
school_results_df.head()

,Total Students,Total School Budget,Budget per student,Average Math Score Schoolwise,Average Reading Score Schoolwise,% Passing Math Schoolwise,% Passing Reading Schoolwise,Overall Passing Rate,School Type,Spending Ranges (Per Student),Size of the school,Type
Bailey High School,4976,3124928,628.0,77.05,81.03,64.63,0.86,32.745,"(Bailey High School, [District, District, Dist...",$615-645,Large (2000-5000),"(0, [District, District, District, District, D..."
Cabrera High School,1858,1081356,582.0,83.06,83.98,89.56,0.86,45.210,"(Cabrera High School, [Charter, Charter, Chart...",<$585,Medium (1000-2000),"(1, [District, District, District, District, D..."
Figueroa High School,2949,1884411,639.0,76.71,81.16,63.75,0.86,32.305,"(Figueroa High School, [District, District, Di...",$615-645,Large (2000-5000),"(2, [Charter, Charter, Charter, Charter, Chart..."
Ford High School,2739,1763916,644.0,77.10,80.75,65.75,0.86,33.305,"(Ford High School, [District, District, Distri...",$615-645,Large (2000-5000),"(3, [District, District, District, District, D..."
Griffin High School,1468,917500,625.0,83.35,83.82,89.71,0.86,45.285,"(Griffin High School, [Charter, Charter, Chart...",$615-645,Medium (1000-2000),"(4, [Charter, Charter, Charter, Charter, Chart..."

## Scores by School Type

* Perform the same operations as above, based on school type.

In [359]:
avg_math_score_type = school_results_df.groupby(["Type"]).mean()["Average Math Score Schoolwise"]
avg_reading_score_type = school_results_df.groupby(["Type"]).mean()["Average Reading Score Schoolwise"]
percentage_passing_math_type = school_results_df.groupby(["Type"]).mean()["% Passing Math Schoolwise"]
percentage_passing_reading_type = school_results_df.groupby(["Type"]).mean()["% Passing Reading Schoolwise"]
overall_passing_rate_school_type = school_results_df.groupby(["Type"]).mean()["Overall Passing Rate"]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [332]:
scores_by_school_type = pd.DataFrame({"Average Math Score":avg_math_score_type,
                                  "Average Reading Score":avg_reading_score_type,
                                  "% Passing Math":percentage_passing_math_type,
                                  "% Passing Reading":percentage_passing_reading_type,
                                  "Overall Passing rate":overall_passing_rate_school_type})
scores_by_school_type = scores_by_school_size[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading","Overall Passing rate"]]
scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Size of the school,,,,,
Small (<1000),83.820,83.92500,91.15500,0.86,46.007500
Medium (1000-2000),83.374,83.86800,89.93000,0.86,45.395000
Large (2000-5000),77.745,81.34375,67.63125,0.86,34.245625